.container
  .page-header
    h1 Adoptees
  .panel.panel-default(ng-class="{busy: busy()}")
    .panel-heading.clearfix
      form.pull-left
        .btn-toolbar
          .input-group.input-group-filter
            input.form-control(type="text", placeholder="Filter", ng-model="query", ng-change="applyFilter(query)")
    
          .input-group.input-group-sort
            .input-group-addon Sort By:
            input.form-control(type="text", ng-model="sort.text", disabled)
            .input-group-btn
              button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                i.fa.fa-caret-down
              ul.dropdown-menu.pull-right
                li(ng-repeat="option in sort.options", ng-class="{active: sort.text == option.text}")
                  a(href="", ng-click="applySort(option)") {{option.text}}
      .btn-toolbar.pull-right
        button.btn.btn-link(title="Refresh", ng-click="refresh(true)")
          i.fa.fa-refresh
        a.btn.btn-link(href="/adoptees/0" data-ng-disabled="permission.readonly")
          i.fa.fa-plus.fa-lg
         a.btn.btn-link(href="/duplicates")
          i.fa.fa-users.fa-lg
    table.table.table-hover
      thead
        tr
          th Name
          th Status
          th Number
          th Create Date
          th(ng-if="permission.delete") &nbsp;
      tbody
        tr(ng-repeat="adoptee in adoptees | orderBy:sort.value | startFrom:(page.current-1)*page.size | limitTo:page.size")
          td(ng-click="select(adoptee)") {{adoptee.lastName}}, {{adoptee.firstName}}
          td(ng-click="select(adoptee)") {{adoptee.status}}
          td(ng-click="select(adoptee)") {{adoptee.site + '-' + adoptee.applicationNumber}}
          td(ng-click="select(adoptee)")
            time {{adoptee.createDate | date}}&nbsp;
            | by {{adoptee._createUser | fullName}}
            p.small.text-muted(ng-if="adoptee.updateDate") Modified:&nbsp;
              time {{adoptee.modifyDate | date}}&nbsp;
              | by {{adoptee._modifyUser | fullName}}
          td.tool(ng-if="permission.delete")
            a(href="", title="Delete this adoptee", tabindex="0", confirm-click="delete(adoptee)", confirm-popout="left")
              i.text-danger.fa.fa-times
    .panel-footer
      ul.pager
        li.previous(ng-class="{disabled: page.current == 1}")
          a(href="" ng-click="applyPage(page.previous)") Previous
        li
          .input-group.input-group-page
            .input-group-addon Page
            input.form-control(type="number", min="1", max="{{page.total}}", ng-model="page.current", ng-change="applyPage(page.current)")
            .input-group-addon of {{page.total}}
        li.next(ng-class="{disabled: page.current == page.total}")
          a(href="" ng-click="applyPage(page.next)") Next
