/*change*/
@font-face {
    font-family: roboto-regular;
    src: url("../../fonts/roboto-regular.ttf");
}

@font-face {
    font-family: roboto-light;
    src: url("../../fonts/roboto-light.ttf");
}

@font-face {
    font-family: roboto-thin;
    src: url(../../fonts/roboto-thin.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../../fonts/roboto-medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/roboto-bold.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(../../fonts/roboto-black.ttf);
}