/*change*/
.depth-1 {
  -webkit-filter: drop-shadow(0px 2px 2px $color-grey-500);
}

.depth-2 {
  -webkit-filter: drop-shadow(0px 3px 3px $color-grey-500);
}

.depth-3 {
  -webkit-filter: drop-shadow(0px 10px 10px $color-grey-500);
}

.depth-4 {
  -webkit-filter: drop-shadow(0px 14px 14px $color-grey-500);
}

.depth-5 {
  -webkit-filter: drop-shadow(0px 19px 19px $color-grey-500);
}